
        {% extends "layout.html" %}
		{% block body %}  

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>EFFECTIVE COMMUNICATION PORTION</h1>
        </div>
      </div>
    </div>
    <section class="syllabus">
      <div class="container pt-md-5">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1Zm-lQdXAqa9MRX52daSeThW-cmxMcVeC/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>EFFECTIVE COMMUNICATION TEXTBOOK</h1>
        </div>
	 </div>
    </div>

    <section class="syllabus">
		<div class="container pt-md-5">
		  <div class="row">
			<div class="col-md-12 ">
	
			  <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/19SEQ8o_HY_OHP2quiexxjCKhthcT0eak/preview" width="640" height="480"></iframe>
			  </div>
	
			</div>
		  </div>
	  </section>


  {% endblock %}