{% extends "layout.html" %}
{% block body %}  

    
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>WEBTECHNOLOGIES PORTION</h1>
        </div>
      </div>
    </div>
    <section class="syllabus">
      <div class="container pt-md-5">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1xFvCosa85AhKhi45f0QjH3c0obFmoOJa/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
	</section>
	
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Webtechnologies UNIT 1</h1>
        </div>
  
      </div>
    </div>
	<section class="UNIT 1">
		<div class="container pt-md-5">
		  <div class="row">
			<div class="col-md-12 ">
	
			  <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1au-zAU3Ps44Q_zRkipvOuSckf5EJXF63/preview" width="640" height="480"></iframe>
			  </div>
	
			</div>
		  </div>
	  </section>

	  <div class="container pt-md-5 pb-md-5">
		<div class="row">
		  <div class="col-md-12 text-center">
			<h1>Webtechnologies UNIT 2</h1>
		  </div>
	
		</div>
	  </div>
	  <section class="UNIT 2">
		  <div class="container pt-md-5">
			<div class="row">
			  <div class="col-md-12 ">
	  
				<div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
					<iframe src="https://drive.google.com/file/d/1xFrBBHil4s6vBQ-ZkkDfVx3Zy0EtqpZc/preview" width="640" height="480"></iframe>
				</div>
	  
			  </div>
			</div>
		</section>

		<div class="container pt-md-5 pb-md-5">
			<div class="row">
			  <div class="col-md-12 text-center">
				<h1>Webtechnologies UNIT 3</h1>
			  </div>
		
			</div>
		  </div>
		  <section class="UNIT 3">
			  <div class="container pt-md-5">
				<div class="row">
				  <div class="col-md-12 ">
		  
					<div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
						<iframe src="https://drive.google.com/file/d/1TBs31oXl6l9PJwOa_4kroeotSr7Djh5q/preview" width="640" height="480"></iframe>
					</div>
		  
				  </div>
				</div>
			</section>

			<div class="container pt-md-5 pb-md-5">
				<div class="row">
				  <div class="col-md-12 text-center">
					<h1>Webtechnologies UNIT 4</h1>
				  </div>
			
				</div>
			  </div>
			  <section class="UNIT 4">
				  <div class="container pt-md-5">
					<div class="row">
					  <div class="col-md-12 ">
			  
						<div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
							<iframe src="https://drive.google.com/file/d/1zyAE428cPPiyjGB-TmC_CpJ4nSnmUY6o/preview" width="640" height="480"></iframe>
						</div>
			  
					  </div>
					</div>
				</section>

				<div class="container pt-md-5 pb-md-5">
					<div class="row">
					  <div class="col-md-12 text-center">
						<h1>Webtechnologies UNIT 5</h1>
					  </div>
				
					</div>
				  </div>
				  <section class="UNIT 4">
					  <div class="container pt-md-5">
						<div class="row">
						  <div class="col-md-12 ">
				  
							<div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
								<iframe src="https://drive.google.com/file/d/1IsyBMpJkmbRG5yt9NfdpIq-_xqT_AHZz/preview" width="640" height="480"></iframe>
							</div>
				  
						  </div>
						</div>
					</section>
			
				{% endblock %}