<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SYLLABUS AND QUESTION PAPERS OU</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="index.css">
	</head>
	<body>
  <!--
  xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 |1200<xl
  p=padding
  pt=padding top
  pr=padding right
   <div class="p-xl-5 p-lg-2" id="topheader">
-->
    <div class="p-1" id="topheader">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right">
          <a href="mailto:rohitreddy620r@gmail.com"><i class="fas fa-envelope"></i>+rohitreddy620r@gmail.com</a>
        </div>
      </div>
    </div>
    </div>
		<nav class="navbar navbar-dark bg-dark navbar-expand-md">
			<a class="navbar-brand" href=""><img src="img/favicon3.png" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item ">
						<a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							BCA SEMESTERS
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle " href="#">SEMESTER 1</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="semester1.html">SYLLABUS AND QUESTION PAPERS</a></li>
									
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">NOTES OF BCA 1ST SEM </a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="1maths.html">MATHEMATICAL FOUNDATION</a></li>
											<li><a class="dropdown-item" href="1dp.html">DigitalPrinciples</a></li>
											<li><a class="dropdown-item" href="1c.html">Programmming in C</a></li>
											<li><a class="dropdown-item" href="1webtechnologies.html">Webtechnologies</a></li>
											<li><a class="dropdown-item" href="1effectivecommunication.html">Effective communication</a></li>
										</ul>
									</li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
              </li>
              
              					<li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">SEMESTER 2</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="semester2.html">SYLLABUS AND QUESTION PAPERS</a></li>
									
									<li class="dropdown-submenu">
										
										<li class="dropdown-submenu">
											<a class="dropdown-item dropdown-toggle" href="#">NOTES OF BCA 2nd SEM</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="2probability.html">Probabilit & Statistics</a></li>
												<li><a class="dropdown-item" href="2cpp.html">Cpp</a></li>
												<li><a class="dropdown-item" href="2computerarchitecture.html">Computer Architecture</a></li>
												<li><a class="dropdown-item" href="2datastructures.html">Data Stractures</a></li>
												<li><a class="dropdown-item" href="2datacommunications.html">Data Communications</a></li>
											</ul>
										</li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">SEMESTER 3</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="semester2.html">SYLLABUS AND QUESTION PAPERS</a></li>
									
									<li class="dropdown-submenu">
										
										<li class="dropdown-submenu">
											<a class="dropdown-item dropdown-toggle" href="#">NOTES OF BCA 3nd SEM</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="3applied maths.html">Applied mathematics</a></li>
												<li><a class="dropdown-item" href="3javaprogramming.html">Javaprogramming</a></li>
												<li><a class="dropdown-item" href="3environmentalscience.html">Environmental science</a></li>
												<li><a class="dropdown-item" href="3operatingsystem.html">Operating system concepts</a></li>
												<li><a class="dropdown-item" href="3databasedesign.html">Database design</a></li>
											</ul>
										</li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
							</li>
              
              <li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">SEMESTER 4</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">SYLLABUS AND QUESTION PAPERS</a></li>
									<li><a class="dropdown-item" href="#">NOTES OF BCA 4th SEM </a></li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 1</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
							</li>
              <li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">SEMESTER 5</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">SYLLABUS AND QUESTION PAPERS</a></li>
									<li><a class="dropdown-item" href="#">NOTES OF BCA 5th SEM </a></li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 1</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
              </li>
              
              <li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">SEMESTER 6</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">SYLLABUS AND QUESTION PAPERS</a></li>
									<li><a class="dropdown-item" href="#">NOTES OF BCA 6th SEM </a></li>
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 1</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
									<!-- <li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">MORE SEMESTER 2</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">SUB SEMESTER 1</a></li>
											<li><a class="dropdown-item" href="#">SUB SEMESTER 2</a></li>
										</ul>
									</li> -->
								</ul>
							</li>
							
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="portfolio.html">PORTFOLIO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="aboutus.html">ABOUT US</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contactus.html">CONTACT US</a>
					</li>
				</ul>
			</div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Operating system syllabus</h1>
        </div>
      </div>
    </div>
    <section class="syllabus">
      <div class="container pt-md-5">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
                <iframe src="https://drive.google.com/file/d/1ecjGdb7bGIyJkNRL4bKECLrn-GmrCWp2/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>operaring system notes</h1>
          </div>
        </div>
      </div>
    <section class="syllabus">
        <div class="container pt-md-5">
          <div class="row">
            <div class="col-md-12 ">
               
              <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
                <iframe src="https://drive.google.com/file/d/1_EKKokjjxlcHxleo4Y1TZ0-xghBfmM6x/preview" width="640" height="480"></iframe>
              </div>
    
            </div>
          </div>
      </section>
    
    





    <footer class="full-footer bg-dark">
      <div class="container top-footer pt-md-3">
        <div class="row">
          <div class="col-md-9 ">
            <img class="img-fluid" src="img/favicon3.png" alt="" width="100px">
            <p>this is the question paper website were u can upload question papers... <a href="">read more</a>
            </p>
            <a style="color:silver;" class="p-1" href="https://www.facebook.com/profile.php?id=100009998027098"><i
                class="fab fa-2x fa-facebook-square"></i></a>
            <a style="color:silver;" class="p-1" href=""><i class="fab fa-2x fa-google-plus-square"></i></a>
            <a style="color:silver;" class="p-1" href="https://www.instagram.com/rohit_reddy146/"><i
                class="fab fa-2x fa-instagram-square"></i></a>
            <a style="color:silver;" class="p-1" href="https://twitter.com/rohit_reddy146"><i
                class="fab fa-2x fa-twitter-square"></i></a>
          </div>
          <div class="col-md-3">
            <h3>contact us</h3>
            <a href="mailto:rohitreddy620r@gmail.com"><i class="fas fa-envelope"></i>+rohitreddy620r@gmail.com</a> <br>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243646.8800623243!2d78.26796097934889!3d17.412627412979663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1608103337094!5m2!1sen!2sin"
                frameborder="0"></iframe>
            </div>
  
          </div>
  
  
        </div>
      </div>
      
    </footer>
		<div class="container-fluid"></div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="bootstrap/js/jquery-3.5.1.slim.min.js"></script>
		<script src="bootstrap/js/popper.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

		<script>
			$('.carousel').carousel();
		</script>
	</body>
</html>