{% extends "layout.html" %}
{% block body %}
 <section class="breadcrumb-section p-1 p-md-3">
		<div class="container">
		  <div class="row">
			<div class="col-12">
			  <h1> About us</h1>
			  <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">home</a></li>
				<li class="breadcrumb-item active">Aboutus</li>
			  </ol>
			</div>
		  </div>
		</div>
	  </section>
  </div>
	<div class="col-md-12 pl-5 pr-5 text-center">
     <P>   Being the college student ourselves with a constant need for class notes and study materials, we took the easiest way out i.e. via WhatsApp groups. With a 
       gradual increase in syllabus and subjects, Whatsapp 
       failed to gather all the notes at one place. Google Drive was an option, but an ineffective one.</P>
    
 
  
      </div>
          
       
        </div>
      </div>
      
	  {% endblock %}

