{% extends "layout.html" %}
{%block body %}
<section class="breadcrumb-section p-1 p-md-3">
		<div class="container">
		  <div class="row">
			<div class="col-12">
			  <h1> About us</h1>
			  <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">home</a></li>
				<li class="breadcrumb-item active">Contactus</li>
			  </ol>
			</div>
		  </div>
		</div>
	  </section>
<section class="form-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="FULLNAME">
                </div>
                <div class="form-group col-md-6 ">
                  <input type="email" class="form-control" placeholder="EMAILADDRESS">
  
                </div>
              </div>
              <div class="form-row">
               
                <!-- <div class="form-group col-md-6">
                  <select class="form-control " id="">
                    <option selected>countries</option>
                    <option value="">australia</option>
                    <option value="">usa</option>
                    <option value="">isreil</option>
                    <option value="">russia</option>
                    <option value="">canada</option>
                  </select>
  
                </div> -->
                </div>
                <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control"  placeholder="SUBJECT">
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-12">
                  <textarea type="text" class="form-control" rows="3" >
                  </textarea>
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>
                      send message</button>
  </div>
  </div>
  </form>
  </div>
          <div class="col-md-6 address text-center">
       <h3>Get in touch</h3>
      
       <p><a href="rohitreddy620r@gmail.com"><i class="fas fa-envelope"></i> rohitreddy620r@gmail.com </a><br></p>
    </div>
    </div>
    </div>
    </section> 
{% endblock %}



