{% extends "layout.html" %}
{% block body %}
    <section class="top-hero-section">
      <div class="container pt-4 pb-5">
        <div class="row align-items-center">
          <div class="col-md-5">
            
            <h1>Accomplish more with better notes and semister papers</h1>
           
            <button class="btn btn-lg bg-dark" style="color: #fff;" >get started</button> <a href="#">Read more</a>
            </div>
          <div class="col-md-7 ">
            <img class="img-fluid" src="{{ url_for('static', filename='img/graduation-hat.png')}}" alt="">
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}