{% extends "layout.html"%}
{%block body %}
<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>2nd semister portion of bca osmania university</h1>
        </div>
      </div>
    </div>
    <section class="syllabus">
      <div class="container pt-md-5">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
              <iframe src="https://drive.google.com/file/d/1LImmq1hLcWA1-rIX1tP4YgljY4hKo2aC/preview"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Fundaments of Probability and Statistics Bca 2nd Semister </h1>
        </div>
  
      </div>
    </div>
    <section class="Fundaments of Probability and Statistics">
      <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1ABK9cw7Hp57cuF9chlmX3LWBblbDO9pI/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
  
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Object Oriented Programmming Question Paper Bca 2nd Semister</h1>
        </div>
  
      </div>
    </div>
    
  
    <section class="Object Oriented Programmming">
      <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1w8FvJsMZP2mHiZWQ07iKeOcqj5XVL1c5/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
    <div class="row">
        <div class="col-md-12 text-center">
          <h1>Computer Architecture Question Paper Bca 2nd Semister</h1>
        </div>
      </div>
    </div>
    <section class="Computer Architecture">
   <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
				<iframe src="https://drive.google.com/file/d/1uI1wEqey5Wzefc0h-N6j6jVMItmi6pzU/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
          <div class="col-md-12 text-center">
            <h1>Data Stractures</h1>
          </div>
        </div>
      </div>
      <section class="Data Stractures">
     <div class="container pt-md-5 pb-md-4">
          <div class="row">
            <div class="col-md-12 ">
    
              <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
                <iframe src="https://drive.google.com/file/d/19LXnpc9fe75M0_yKSGBsIP58FYHYgOTe/preview" width="640" height="480"></iframe>
              </div>
    
            </div>
          </div>
      </section>
      <div class="container pt-md-5 pb-md-5">
        <div class="row">
            <div class="col-md-12 text-center">
              <h1>Data Communications</h1>
            </div>
          </div>
        </div>
        <section class="Data Communications">
       <div class="container pt-md-5 pb-md-4">
            <div class="row">
              <div class="col-md-12 ">
      
                <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
					<iframe src="https://drive.google.com/file/d/1mFSWiU5YHkh2V3XwX_s96lmtYX-nCWaT/preview" width="640" height="480"></iframe>
                </div>
      
              </div>
            </div>
        </section>
        {% endblock%}




