<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">
  <link rel="stylesheet" href="index.css">
  <title>SEMESTER6</title>
</head>

<body>
  <!--
  xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 |1200<xl
  p=padding
  pt=padding top
  pr=padding right
   <div class="p-xl-5 p-lg-2" id="topheader">
-->
<header>
  <div class="p-1" id="topheader">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right">
          <a href="tel:+8008840481" class="p-2"><i class="fas fa-phone"></i>+(91) 8008840481</a>
          <a href="mailto:rohitreddy620r@gmail.com"><i class="fas fa-envelope"></i>+rohitreddy620r@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="buttomheader">
    <div class="container-fluid ">
      <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        
        <a class="navbar-brand" href="">
          <img src="img/favicon3.png" alt="" width="100px">
        </a>
        <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav dropdown">
            <li class="nav-item ">
              <a class="nav-link " href="index.html">HOME</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                BCA SEMESTERS</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item  " href="SEMESTER1.html">SEMESTER 1</a>
                  <a class="dropdown-item  " href="SEMESTER2.html">SEMESTER 2</a>
                  <a class="dropdown-item" href="SEMESTER3.html">SEMESTER 3</a>
                  <a class="dropdown-item" href="SEMESTER4.html">SEMESTER 4</a>
                  <a class="dropdown-item " href="SEMESTER5.html">SEMESTER 5</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="SEMESTER6.html">SEMESTER 6</a>

                </div>
              </li>


            <li>
              <a class="nav-link" href="portfolio.html">PORTFOLIO</a>
            </li>
            <li><a class="nav-link" href="aboutus.html">ABOUT US</a>
            </li>
            <li><a class="nav-link" href="contactus.html">CONTACT US</a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  </div>
</header>
<footer class="full-footer bg-dark">
  <div class="container top-footer pt-md-3">
    <div class="row">
      <div class="col-md-9 ">
        <img class="img-fluid"src="img/favicon3.png" alt="" width="100px">
         <p>Being the college student ourselves with a constant need for class notes and study 
				materials, we took the easiest way out i.e. via WhatsApp groups. With a gradual increase in syllabus and
				 subjects, Whatsapp failed to gather all the notes at one place. Google Drive was an option, but an ineffective one. <a href="">read more</a>
            </p>
        <a style="color:silver;" class="p-1"
        href="https://www.facebook.com/profile.php?id=100009998027098"><i
          class="fab fa-2x fa-facebook-square"></i></a>
      <a style="color:silver;" class="p-1" href=""><i class="fab fa-2x fa-google-plus-square"></i></a>
      <a style="color:silver;" class="p-1" href="https://www.instagram.com/rohit_reddy146/"><i
          class="fab fa-2x fa-instagram-square"></i></a>
      <a style="color:silver;" class="p-1" href="https://twitter.com/rohit_reddy146"><i
          class="fab fa-2x fa-twitter-square"></i></a>
      </div>
      <div class="col-md-3">
        <h3>contact us</h3>
        
          <a href="mailto:rohitreddy620r@gmail.com"><i class="fas fa-envelope"></i>+rohitreddy620r@gmail.com</a> <br>
         <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243646.8800623243!2d78.26796097934889!3d17.412627412979663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1608103337094!5m2!1sen!2sin" frameborder="0"></iframe>
        </div>
        
        </div>
      
        
      </div>
    </div>
    <div class="container-fluid buttom-footer">
      <div class="row">
        <div class="col-12 pt-md-3">
          
        </div>
      </div>
    </div>
  </div>
  
</footer>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="bootstrap/js/jquery-3.5.1.slim.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>