{% extends "layout.html"%}
{%block body %}
<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>1st semister portion of bca osmania university</h1>
        </div>
      </div>
    </div>
    <section class="syllabus">
      <div class="container pt-md-5">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
              <iframe src="https://drive.google.com/file/d/1LImmq1hLcWA1-rIX1tP4YgljY4hKo2aC/preview"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Programming in C Question Paper Bca 1 Semister 2019 December</h1>
        </div>
  
      </div>
    </div>
    <section class="programming in c">
      <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
              <iframe src="https://drive.google.com/file/d/1Fxl5TPc9QqXAdGYDHWIRHwL7kpciZ2tz/preview" width="640"
                height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
  
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>DigitalPrinciples Question Paper Bca 1 Semister 2019 December</h1>
        </div>
  
      </div>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>click to download and check c programs and c record <a href="https://drive.google.com/drive/u/0/my-drive">click here</a></h1>
        </div>
      </div>
    </div> -->
  
    <section class="dp">
      <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
              <iframe src="https://drive.google.com/file/d/1x4EA53zR2xxnxrIiMRB2VjHa0eWL43bu/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
    <div class="row">
        <div class="col-md-12 text-center">
          <h1>Introduction to Webtechnologies Question Paper Bca 1 Semister 2019 December</h1>
        </div>
      </div>
    </div>
    <section class="webtechnologies">
   <div class="container pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-md-12 ">
  
            <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
              <iframe src="https://drive.google.com/file/d/11-SsOZLEITakMaHLNj7nvxkI2p6oGAgr/preview" width="640" height="480"></iframe>
            </div>
  
          </div>
        </div>
    </section>
    <div class="container pt-md-5 pb-md-5">
      <div class="row">
          <div class="col-md-12 text-center">
            <h1>mathematical foundation of computer science question paper bca 1 semister 2019 december</h1>
          </div>
        </div>
      </div>
      <section class="maths">
     <div class="container pt-md-5 pb-md-4">
          <div class="row">
            <div class="col-md-12 ">
    
              <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
                <iframe src="https://drive.google.com/file/d/14PFNXshvxD_m1JBGpYoWc0x1WmKCvdMx/preview" width="640" height="480"></iframe>
              </div>
    
            </div>
          </div>
      </section>
      <div class="container pt-md-5 pb-md-5">
        <div class="row">
            <div class="col-md-12 text-center">
              <h1>Effective Communications Question Paper Bca 1 Semister 2019 December</h1>
            </div>
          </div>
        </div>
        <section class="english">
       <div class="container pt-md-5 pb-md-4">
            <div class="row">
              <div class="col-md-12 ">
      
                <div class='embed-responsive' style='padding-bottom:100%;  width="50px"; height="150px";'>
                  <iframe src="https://drive.google.com/file/d/1iz1OqS8cmch9-nyTw9CXYZIy8DodH_SI/preview" width="640" height="480"></iframe>
                </div>
      
              </div>
            </div>
        </section>


{% endblock%}





   